body {
	margin: 0px;
	background-color: #cff;
}

#bar {
	display: inline-block;
	padding: 5%;

	color: #000;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: #006a6a;
}

#bar > p {
	font-family: questrial;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Questrial;
	color: #006a6a;
}

nav > ul > li > a {
	text-align: center;
}

#posts {
	padding: 3%;	
	right: 0%;
	display: inline-block;
	background-color: #f9f9f9;
}

